body {
    background-color: #EDEDED;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

h2 {
    background-color: #3B516B;
    text-decoration: underline;
    border-radius: 10px;
    letter-spacing: 3px;
    color: floralwhite;
    padding: 20px;
    margin: 10px 5px;
}
li{
    margin-left: 20px;
}

