body{
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-areas: 
        "header header"
        "aside main"
        "footer footer"
    ;
    gap: 10px;
}
header{
    grid-area: header;
}

aside{
    grid-area: aside;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

header,
aside,
main,
footer{
    border-radius: 3px;
    background-color:  rgb(181, 216, 255);
    padding: 5px 10px;
}
header h1{
    display: inline-block;
    vertical-align: mi;
}

aside ul{
    list-style-type: none;
    margin: 0px;
    padding: 5px;
}
aside ul li a{
    display: block;
    padding: 5px 0px;
    color: rgb(86, 40, 129);
    text-decoration: none;
}


@media (max-width: 500px) {
    body{
        display: grid;
        grid-template-areas: 
            "header header"
            "aside aside"
            "main main"
            "footer footer"
        ;
        margin-bottom: 8px ;
    }
}