@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:wght@100&display=swap');
html{
    font-family: Raleway, sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

h1,h2{
    font-family: Great Vibes, cursive;
    line-height: 1.2;
    font-weight: bold;
}