
body {
    background-color: #e4e978;
    width: 700px;
    padding: 15px;
}

.article {
    background-color: #f2f4c0;
    border: 1px solid #b2ad7d;
    padding: 5px 15px;
    margin: 15px 10px;
}

.comment {
    font-style: italic;
    color: #5c6e91;
}