header{
    background-color:#f2dcbb ;
    width: 480px;
    padding: 15px 5px 15px;
}
body{
    background-color: #f9f7cf;
}
footer{
    background-color:#f2dcbb ;
    width: 480px;
    padding: 15px 5px 15px;
}