body {
    background-color: #ccc;
    padding: 0;
    margin: 0;
}

article {
    margin-left: 20px;
}

header h1 {
    font-size: 28px;
}

header>p {
    font-style: italic;
}

article>p {
    font-size: 24px;
}