body{
    font-family: Helvetica, sans-serif;
    background-color: white;
    line-height: 1.5;
    font-size: 18px;
}
article{
    background-color: rgb(51,102,153);
    color: white;
    margin: 54px;
    padding: 36px;
    border-radius: 16px;
    text-indent: 40px;
}
h1{
    font-family: Georgia, serif;

}