body {
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    gap: 10px;
}

.card {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 100px;
    height: 400px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.16) 1px 1px 100px 1px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: 0.3s ease-out;
}

/* img:nth-child(2) {
    width: 500px;
} */
img:hover {
    transition: 0.3s ease-in;
    width: 500px;
   
}